In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


from api_keys import g_key

In [11]:
weather_data = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bluff,-46.6000,168.3333,57.16,66,99,10.45,NZ,1643352719
1,Mataura,-46.1927,168.8643,63.77,48,100,3.47,NZ,1643352719
2,Arman',59.7000,150.1667,5.22,78,100,16.26,RU,1643352719
3,Yanam,16.7333,82.2167,84.60,58,62,7.85,IN,1643352720
4,Hilo,19.7297,-155.0900,71.33,85,20,4.61,US,1643352721
...,...,...,...,...,...,...,...,...,...
553,Severo-Kuril'sk,50.6789,156.1250,24.30,71,100,35.86,RU,1643352770
554,Chuchar-kana Mandi,31.7500,73.8000,60.91,28,4,5.10,PK,1643353006
555,Kibala,9.1104,18.3463,64.35,45,0,2.30,TD,1643353006
556,Seoul,37.5683,126.9778,38.59,31,0,10.36,KR,1643352750
557,Dalvik,65.9702,-18.5286,37.33,94,100,10.98,IS,1643353007

In [12]:
gmaps.configure(api_key = g_key)

locations = weather_data[["Lat","Lng"]]

humidity = weather_data["Humidity"]

In [13]:
fig = gmaps.figure(center=(46,-5), zoom_level=2)
max_intensity = np.max(humidity)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity=100, point_radius=3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
max_intensity

100